---
const title = 'Cooool-bckgs'
---

<header class='fixed top-0 flex items-center justify-center w-full'>
  <h1 class='text-8xl fixed top-0 z-20'>{title}</h1>
  <h1 class='text-8xl fixed top-0 z-10 text-blue-400 blur-sm'>{title}</h1>
</header>
