---
import GithubIcon from '@/assets/GithubIcon.astro'

const title = 'Cooool-bckgs'
---

<header class='relative flex flex-col items-center justify-center w-full'>
  <h1 class='text-8xl z-20'>{title}</h1>
  <h1 class='text-8xl z-10 text-blue-400 blur-sm absolute top-0'>{title}</h1>
  <a
    href='https://github.com/AlbertLnz/coool-bckgs'
    target='_blank'
    class='absolute top-0 right-10'
  >
    <GithubIcon class='size-40 text-white/90 hover:text-white' />
  </a>
  <p
    class='mt-8 text-lg text-white/70 tracking-wide bg-white/30 rounded-t-xl py-1 px-4'
  >
    Developed by
    <span class='hover:underline text-2xl'>
      <a href='https://albertlnz.tech' target='_blank'>Albert Lanza</a>
    </span>
  </p>
</header>
